<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/active.css">
</head>

<body>
    <section class="zp-head">
        <div class="main">
            <div class="main-top dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">1220元现金减免送不停</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>
            <div class="main-bottom">
                仅需20s, <span><a class="click-text" href="">快速完成注册领取大礼包</a></span>
            </div>
        </div>
    </section>
    <!-- 优惠券列表 -->
    <section class="coupon-list">
        <ul class="main-box dgg-cl">
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
            <li class="coupon-li">
                <div class="coupon-price">￥ <span>10</span></div>
                <div class="desc-text ellipsis">活动产品，满200元可用</div>
                <div class="desc-text ellipsis">使用时间：2019.10.1~2019.10.31</div>
                <div class="coupon-btn pointer">点击领取</div>
            </li>
        </ul>
        <!-- <img class="bg-img" src="../images/img/img_yw_l.png" alt=""> -->
    </section>
    <!-- 优惠券列表end -->
    <!-- 热销榜 -->
    <section class="hot-product">
        <div class="main-head">
            <div class="zp-head-box dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">热销榜</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>

        </div>
        <ul class="main-box dgg-cl">
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover1.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n01.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover2.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n02.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
        </ul>
        <ul class="number-box main-box clea">
            <li class="number-li">
                <div class="number" data-num="666">0</div>
                <div class="desc">累计注册量</div>
            </li>
            <li class="number-li">
                <div class="number" data-num="888">0</div>
                <div class="desc">今日注册量</div>
            </li>
            <li class="number-li">
                <div class="number" data-num="9999999">0</div>
                <div class="desc">累计下单量</div>
            </li>
            <li class="number-li">
                <div class="number" data-num="100">0</div>
                <div class="desc">今日下单量</div>
            </li>
            <li class="number-li">
                <div class="number" data-num="777">0</span></div>
                <div class="desc">客户满意度</div>
            </li>
        </ul>
    </section>
    <!-- 热销榜end -->
    <!-- 工商服务 -->
    <section class="Industry product-box">
        <div class="main-head">
            <div class="zp-head-box dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">工商服务</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>

        </div>
        <ul class="main-box dgg-cl">
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover1.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n01.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover2.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n02.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
        </ul>
    </section>
    <!-- 工商服务end -->
    <!-- 知产/综合/会计 -->
    <section class="synthesize product-box">
        <div class="main-head">
            <div class="zp-head-box dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">知产/综合/会计</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>

        </div>
        <ul class="main-box dgg-cl">
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover1.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n01.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover2.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n02.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
        </ul>
    </section>
    <!-- 知产/综合/会计end -->
    <!-- IT/营销 -->
    <section class="IT product-box">
        <div class="main-head">
            <div class="zp-head-box dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">IT/营销</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>

        </div>
        <ul class="main-box dgg-cl">
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover1.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n01.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover2.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n02.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
            <li class="procuct-li">
                <div class="top-bg">
                    <img class='pro-bg' src="../images/img/hot_img_cover3.png" alt="">
                    <img class="tag-img" src="../images/img/img_coner_n03.png" alt="">
                </div>
                <div class="pro-body">
                    <div class="pro-name ellipsis">有限公司注册代办</div>
                    <div class="pro-desc ellipsis">一站式统统搞定，省心省时省事</div>
                    <div class="pro-price ellipsis">￥ 11,265</div>
                    <div class="pro-btn pointer"><span>前往购买</span><img class="rIcon"
                            src="../images/img/btn_card_next.png" alt=""></div>
                </div>
            </li>
        </ul>
    </section>
    <!-- IT/营销end -->
    <!-- 活动规则 -->
    <section class="active product-box">
        <div class="main-head">
            <div class="zp-head-box dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">活动规则</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>

        </div>
        <div class="active-body">
            <div class="body-main">
                <p class="main-li">一、活动对象：小顶云官网已经完成注册的平台会员。</p>
                <p class="main-li">二、活动时间：2019年10月16日至2019年10月31日。</p>
                <p class="main-li">三、活动规则：参与本次活动的平台会员可自主下单，也可在专属商务顾问指导下下单，本活动最终解释权归小顶云平台所有。</p>
            </div>
        </div>
    </section>
    <!-- 活动规则end -->
    <!-- 更多产品 -->
    <section class="more product-box">
        <div class="main-head dgg-cl">
            <div class="zp-head-box dgg-cl">
                <img src="../images/img/img_title_l.png" alt="" class="zhuang-shi">
                <h3 class="active-title">更多产品</h3>
                <img src="../images/img/img_title_r.png" alt="" class="zhuang-shi two">
            </div>

        </div>
        <div class="more-body">
            <div class="more-main dgg-cl">
                <div class="more-li">
                    <p class="more-name">创业快人一步</p>
                    <p class="more-desc">创业快人一步创业快人一步</p>
                    <div class="more-btn pointer">立即查看</div>
                </div>
                <div class="more-li">
                    <p class="more-name">找专家更专业，省事省力省心</p>
                    <p class="more-desc">创业快人一步创业快人一步</p>
                    <div class="more-btn pointer">立即查看</div>
                </div>
            </div>
        </div>
    </section>
    <!-- 更多产品end -->
    <!-- 背景装饰 -->
    <!-- <img class="bg-img" src="../images/img/img_yw_l.png" alt=""> -->
    <!-- 背景装饰end -->
    <script src="../js/lib/jQuery.js"></script>
    <script src="./../js/active.js"></script>

</body>

</html>