<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>金秋献礼</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/lib/swiper.css">
    <link rel="stylesheet" href="../css/active1.css">
</head>

<body>
    <!-- 头部背景图 -->
    <section class="zp-head"></section>
    <!-- 头部背景图 end-->

    <section class="zp-body">
        <!-- 交易快报 -->
        <div class="deal-main">
            <div class="banner">
                <div class="zp-view swiper-container">
                    <div class="zp-scroll swiper-wrapper">
                        <ul class="deal-ul swiper-slide clearfloat">
                            <li class="deal-li">138****2885 以1折价格购买，特价公司3家</li>
                            <li class="deal-li">152****3216 以五折价格购买，特价专利1个</li>
                            <li class="deal-li">180****4533 以五折价格购买，特价商标21件</li>
                            <li class="deal-li">133****5888 以五折价格购买，特价资质1个</li>
                            <li class="deal-li">183****1314 以五折价格购买，特价商标1个</li>
                            <li class="deal-li">182****4765 以五折价格购买，特价公司1家</li>
                        </ul>
                        <ul class="deal-ul swiper-slide clearfloat">
                            <li class="deal-li">188****2885 以2折价格购买，特价公司3家</li>
                            <li class="deal-li">199****3216 以五折价格购买，特价专利1个</li>
                            <li class="deal-li">180****4533 以五折价格购买，特价商标21件</li>
                            <li class="deal-li">1303****5888 以五折价格购买，特价资质1个</li>
                            <li class="deal-li">183****1314 以五折价格购买，特价商标1个</li>
                            <li class="deal-li">182****4765 以五折价格购买，特价公司1家</li>
                        </ul>
                        <ul class="deal-ul swiper-slide clearfloat">
                            <li class="deal-li">177****2885 以3折价格购买，特价公司3家</li>
                            <li class="deal-li">1///****3216 以五折价格购买，特价专利1个</li>
                            <li class="deal-li">///****4533 以五折价格购买，特价商标21件</li>
                            <li class="deal-li">133****5888 以五折价格购买，特价资质1个</li>
                            <li class="deal-li">183****1314 以五折价格购买，特价商标1个</li>
                            <li class="deal-li">182****4765 以五折价格购买，特价公司1家</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- 特价公司 -->
        <div class="tejia">
            <div class="zpBox">
                <ul class="zpBox-ul clearfloat">
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">上海****科技有限公司</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥3251.00</span>
                                <span class="cur">￥6502.00</span>
                                <span class="address"><img src="../images/active/trade_ic_cardposition.png" alt="">
                                    上海市</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">2017</p>
                                <p class="tap-li-des one-line">成立时间</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">未核税</div>
                                <div class="tap-li-des one-line">纳税类型</div>
                            </div>
                            <div class="tap-li one-line">
                                <p class="tap-li-val one-line">20万</p>
                                <p class="tap-li-des one-line">注册资本</p>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">其他行业</p>
                                <p class="tap-li-des one-line">行业类型</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价公司咨询
                        </div>
                    </li>
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">深圳**科技有限公司</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥4000.00</span>
                                <span class="cur">￥8000.00</span>
                                <span class="address"><img src="../images/active/trade_ic_cardposition.png" alt="">
                                    深圳市</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">2014</p>
                                <p class="tap-li-des one-line">小规模纳税人</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">未核税</div>
                                <div class="tap-li-des one-line">纳税类型</div>
                            </div>
                            <div class="tap-li one-line">
                                <p class="tap-li-val one-line">100万</p>
                                <p class="tap-li-des one-line">注册资本</p>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">科技信息</p>
                                <p class="tap-li-des one-line">行业类型</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价公司咨询
                        </div>
                    </li>
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">成都***电子科技有限公司</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥5800.00</span>
                                <span class="cur">￥1.16万</span>
                                <span class="address"><img src="../images/active/trade_ic_cardposition.png" alt="">
                                    成都市</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">2018</p>
                                <p class="tap-li-des one-line">成立时间</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">小规模纳税人</div>
                                <div class="tap-li-des one-line">纳税类型</div>
                            </div>
                            <div class="tap-li one-line">
                                <p class="tap-li-val one-line">500万</p>
                                <p class="tap-li-des one-line">注册资本</p>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">其他行业</p>
                                <p class="tap-li-des one-line">行业类型</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价公司咨询
                        </div>
                    </li>
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">武汉***信息技术有限公司</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥6000.00</span>
                                <span class="cur">￥1.20万</span>
                                <span class="address"><img src="../images/active/trade_ic_cardposition.png" alt="">
                                    武汉市</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">2012</p>
                                <p class="tap-li-des one-line">成立时间</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">小规模纳税人</div>
                                <div class="tap-li-des one-line">纳税类型</div>
                            </div>
                            <div class="tap-li one-line">
                                <p class="tap-li-val one-line">20万</p>
                                <p class="tap-li-des one-line">注册资本</p>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">其他行业</p>
                                <p class="tap-li-des one-line">行业类型</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价公司咨询
                        </div>
                    </li>
                </ul>
                <div class="more-btn pointer" style="margin: 28px auto 0;">
                    <img src="../images/active/more-btn-l.png" alt="">
                    <span>更多特价公司</span>
                    <img src="../images/active/more-btn-r.png" alt="">
                </div>
            </div>

        </div>
        <!-- 热门资质·限量 -->
        <div class="hot-zizhi">
            <div class="zpBox">
                <ul class="zpBox-ul clearfloat">
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">施工劳务-劳务派遣许可证</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥15.00万</span>
                                <span class="cur">￥19.00万</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">四川 · 成都</p>
                                <p class="tap-li-des one-line">地址</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">2023-08</div>
                                <div class="tap-li-des one-line">到期时间</div>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">本公司其他资质<span>2项</span></p>
                                <p class="tap-li-des one-line">资质转让-施工总承包-电力-三级</p>
                                <p class="tap-li-des one-line">资质转让-专业承包-建筑幕墙-二级</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                        </div>

                    </li>
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">施工专业承包-电力-三级</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥15.00万</span>
                                <span class="cur">￥19.00万</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">四川 · 成都</p>
                                <p class="tap-li-des one-line">地址</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">2022-12</div>
                                <div class="tap-li-des one-line">到期时间</div>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">本公司其他资质<span>2项</span></p>
                                <p class="tap-li-des one-line">资质转让-施工总承包-电力-三级</p>
                                <p class="tap-li-des one-line">资质转让-施工承包-公路-二级</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                        </div>

                    </li>
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">房地产开发资质-二级</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥10.00万</span>
                                <span class="cur">￥12.50万</span>
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">四川 · 成都</p>
                                <p class="tap-li-des one-line">地址</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">2023-12</div>
                                <div class="tap-li-des one-line">到期时间</div>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">本公司其他资质<span>2项</span></p>
                                <p class="tap-li-des one-line">资质转让-施工总承包-通信-三级</p>
                                <p class="tap-li-des one-line">资质转让-专业承包-钢结构-三级</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                        </div>

                    </li>
                    <li class="zpBox-li">
                        <div class="li-top">
                            <div class="zpBox-name clearfloat">
                                <div class="name one-line">施工总承包-市政-三级</div> <span class="sign">特价</span>
                            </div>
                            <div class="zpBox-price">
                                <span class="now">￥面议</span>
                                <!-- <span class="cur">￥19.00万</span> -->
                            </div>
                        </div>

                        <div class="zpBox-tap">
                            <div class="tap-li">
                                <p class="tap-li-val one-line">浙江 · 杭州</p>
                                <p class="tap-li-des one-line">地址</p>
                            </div>
                            <div class="tap-li">
                                <div class="tap-li-val one-line">2023-12</div>
                                <div class="tap-li-des one-line">到期时间</div>
                            </div>
                            <div class="tap-li">
                                <p class="tap-li-val one-line">本公司其他资质<span>2项</span></p>
                                <p class="tap-li-des one-line">资质转让-施工总承包-机电-三级</p>
                                <p class="tap-li-des one-line">资质转让-专业承包-建筑装修-二级</p>
                            </div>
                        </div>
                        <div class="zpBox-btn pointer">
                            <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                        </div>

                    </li>

                </ul>
                <div class="more-btn pointer">
                    <img src="../images/active/more-btn-l.png" alt="">
                    <span>更多特价资质</span>
                    <img src="../images/active/more-btn-r.png" alt="">
                </div>
            </div>
        </div>
        <!-- 优质商标·5折钜惠 -->
        <div class="shangbiao">
            <div class="zpBox">
                <ul class="zpBox-ul clearfloat">
                    <li class="zpBox-li">
                        <div class="top-box clearfloat">
                            <div class="top-left">
                                <img src="../images/active/part3-pic-1.jpg" alt="">
                            </div>
                            <div class="top-right one-line">
                                <div class="right-name ">
                                    <div class="one-line" style="display: inline-block;;width: 85%;">
                                        <span class="zp-label">商标名字：<span class="zp-value">凡瑶</span></span>
                                        <span class="zp-label margin">商标类别：<span class="zp-value">01-化学原料</span></span>
                                    </div>
                                    <span class="sign">特价</span>
                                </div>
                                <div class="zp-label one-line">适用项目：<span class="zp-value">氧化镁 消防泡沫液 纸浆 科学用放射性元素
                                        …</span>
                                </div>
                                <div class="zp-label one-line">类似群组：<span class="zp-value">0101 0102 0103 0110 0112
                                        0116</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-box">
                            <div class="bottom-left">￥1.00万 <span class="cur">￥2.00万</span></div>
                            <div class="bottom-right">
                                <div class="zpBox-btn pointer">
                                    <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="zpBox-li">
                        <div class="top-box clearfloat">
                            <div class="top-left">
                                <img src="../images/active/part3-pic-2.jpg" alt="">
                            </div>
                            <div class="top-right one-line">
                                <div class="right-name ">
                                    <div class="one-line" style="display: inline-block;;width: 85%;">
                                        <span class="zp-label">商标名字：<span class="zp-value">邦利普</span></span>
                                        <span class="zp-label margin">商标类别：<span class="zp-value">02-颜料油漆</span></span>
                                    </div>
                                    <span class="sign">特价</span>
                                </div>
                                <div class="zp-label one-line">适用项目：<span class="zp-value">媒染剂 颜料 食用色素 印刷油墨 金属用保护...</span>
                                </div>
                                <div class="zp-label one-line">类似群组：<span class="zp-value">0201 0202 0203 0204 0206 0207</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-box">
                            <div class="bottom-left">￥1.00万 <span class="cur">￥2.00万</span></div>
                            <div class="bottom-right">
                                <div class="zpBox-btn pointer">
                                    <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="zpBox-li">
                        <div class="top-box clearfloat">
                            <div class="top-left">
                                <img src="../images/active/part3-pic-3.jpg" alt="">
                            </div>
                            <div class="top-right one-line">
                                <div class="right-name ">
                                    <div class="one-line" style="display: inline-block;;width: 85%;">
                                        <span class="zp-label">商标名字：<span class="zp-value">品缘</span></span>
                                        <span class="zp-label margin">商标类别：<span class="zp-value">02-颜料油漆</span></span>
                                    </div>
                                    <span class="sign">特价</span>
                                </div>
                                <div class="zp-label one-line">适用项目：<span class="zp-value">媒染剂 颜料 食用色素 印刷油墨 金属用保护 …</span>
                                </div>
                                <div class="zp-label one-line">类似群组：<span class="zp-value">0201 0202 0203 0204 0206 0207</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-box">
                            <div class="bottom-left">￥1.00万 <span class="cur">￥2.00万</span></div>
                            <div class="bottom-right">
                                <div class="zpBox-btn pointer">
                                    <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="zpBox-li">
                        <div class="top-box clearfloat">
                            <div class="top-left">
                                <img src="../images/active/part3-pic-4.jpg" alt="">
                            </div>
                            <div class="top-right one-line">
                                <div class="right-name ">
                                    <div class="one-line" style="display: inline-block;;width: 85%;">
                                        <span class="zp-label">商标名字：<span class="zp-value">森盛</span></span>
                                        <span class="zp-label margin">商标类别：<span class="zp-value">02-颜料油漆</span></span>
                                    </div>
                                    <span class="sign">特价</span>
                                </div>
                                <div class="zp-label one-line">适用项目：<span class="zp-value">颜料 食用色素 印刷油墨 金属用保护制剂 天 …</span>
                                </div>
                                <div class="zp-label one-line">类似群组：<span class="zp-value">0202 0203 0204 0206 0207</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-box">
                            <div class="bottom-left">￥1.00万 <span class="cur">￥2.00万</span></div>
                            <div class="bottom-right">
                                <div class="zpBox-btn pointer">
                                    <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="more-btn pointer">
                    <img src="../images/active/more-btn-l.png" alt="">
                    <span>更多特价商标</span>
                    <img src="../images/active/more-btn-r.png" alt="">
                </div>
            </div>
        </div>
        <!-- 购买更多产品 -->
        <div class="by-more">
            <div class="by-btn pointer"></div>
        </div>
        <!-- 微信公众号权限代开 -->
        <div class="wxNumber">
            <div class="zpBox">
                <div class="zpBox-ul clearfloat">
                  
                    <div class="zpBox-li">
                        <div class="top-box">公众号粉丝迁移<span class="sign">特价</span></div>
                        <div class="bottom-box">
                            <div class="title one-line">一对一专业服务</div>
                            <div class="desc two-line">多个账号粉丝集中提升变现能力，粉丝集中管理，数据清晰，管理便捷</div>
                            <div class="zpBox-btn pointer">
                                <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                            </div>
                        </div>

                    </div>
                    <div class="zpBox-li">
                        <div class="top-box">代开留言功能<span class="sign">特价</span></div>
                        <div class="bottom-box">
                            <div class="title one-line">一对一专业服务</div>
                            <div class="desc two-line">获得公众号留言功能，增加用户互动，保持账号活跃</div>
                            <div class="zpBox-btn pointer">
                                <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                            </div>
                        </div>

                    </div>
                    <div class="zpBox-li">
                        <div class="top-box">代开流量主<span class="sign">特价</span></div>
                        <div class="bottom-box">
                            <div class="title one-line">一对一专业服务</div>
                            <div class="desc two-line">获得公众号流量主功能，清晰报表， 随时掌握数据变化拐点，提升收益</div>
                            <div class="zpBox-btn pointer">
                                <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                            </div>
                        </div>

                    </div>
                    <div class="zpBox-li">
                            <div class="top-box">代理注册<span class="sign">特价</span></div>
                            <div class="bottom-box">
                                <div class="title one-line">一对一专业服务</div>
                                <div class="desc two-line">同一主体申请多个公众号，有效帮助 公司拓展各销售渠道</div>
                                <div class="zpBox-btn pointer">
                                    <img src="../images/active/btn-consultation-ico.png" alt=""> 特价资质咨询
                                </div>
                            </div>
    
                        </div>
                </div>
                <div class="more-btn pointer">
                    <img src="../images/active/more-btn-l.png" alt="">
                    <span>更多特价服务</span>
                    <img src="../images/active/more-btn-r.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <script src="../js/lib/jQuery.js"></script>
    <script src="../js/lib/swiper.js"></script>
    <script src="../js/active1.js"></script>
</body>

</html>