<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>详情</title>
  <!-- <link rel="stylesheet" href="https://at.alicdn.com/t/font_1206485_2yann5unoey.css"> -->
  <link rel="stylesheet" href="./../css/iconfont.css">
  <link rel="stylesheet" href="./../css/reset.css">
  <link rel="stylesheet" href="./../css/detail.css">
  <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body>
  <!-- 导航条部分 -->
  <section class="detail-navigation">
    <div class="navigation-content">
      <ul class="navigation-left">
        <li><a href="">首页</a></li>
        <li class="sign"><i class="iconfont iconhome_ic_yjt"></i></li>
        <li>
          <div class="zp-select">
            <div class="selecet-box">
              <span class="select-value">工商服务</span>
              <i class="iconfont iconxiajiantou1"></i>
              <ul class="select-card hidden">
                <li class="select-item"><a href="javascript:void(0);" title="">工商服务</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">会计账务</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">财税/咨询</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">人事社保</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">知识产权</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">IT/营销</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">综合服务</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sign"><i class="iconfont iconhome_ic_yjt"></i></li>
        <li>
          <div class="zp-select">
            <div class="selecet-box">
              <span class="select-value">注册服务</span>
              <i class="iconfont iconxiajiantou1"></i>
              <ul class="select-card hidden">
                <li class="select-item"><a href="javascript:void(0);" title="">工商服务</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">会计账务</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">财税/咨询</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">人事社保</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">知识产权</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">IT/营销</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">综合服务</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sign"><i class="iconfont iconhome_ic_yjt"></i></li>
        <li class="cursor">
          <div class="zp-select">
            <div class="selecet-box">
              <span class="select-value">注册服务</span>
              <i class="iconfont iconxiajiantou1"></i>
              <ul class="select-card hidden clearfloat">
                <li class="select-item"><a href="javascript:void(0);" title="">有限公司注册有限公司注册有限公司注册有限公司注册</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">分公司注册</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">合伙企业注册</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">股份有限公司注册</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">个体工商户注册</a></li>
                <li class="select-item"><a href="javascript:void(0);" title="">外资企业注册</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="navigation-right">
        <div class="right-box kefu">
          <i class="iconfont iconkf"></i>
          <span>联系客服</span>
        </div>
        <div class="right-box shou-cang">
          <i class="iconfont iconshoucang1"></i>
          <span>收藏商品</span>
        </div>
      </div>
    </div>
  </section>
  <!-- 商品详情部分 -->
  <section class="detail-content">
    <!-- 商品图片及其活动图片 -->
    <div class="content-left">
      <div class='shop-img'>
        <img src="" alt="" class="master-img">
        <img src="" alt="" class="active-img">
        <img src="" alt="" class="sign-img">
      </div>
      <div class="cao-zuo">
        <div class="right-box guan-zhu">
          <i class="iconfont icongz_n"></i>
          <span>关注</span>
        </div>
        <div class="right-box">
          <i class="iconfont iconshare"></i>
          <span>分享</span>
        </div>
      </div>
    </div>
    <!-- 商品信息 名称价格sku等 -->
    <div class="content-right">
      <!-- 商品名称 -->
      <section class="right-title">
        <h3>自主商标注册</h3>
        <div class="tag">历史低价 限前1000名</div>
      </section>
      <p class="right-desc">商标注册是商标使用人取得商标专用权的前提和条件，只有经核准注册的商标，才受法律保护。</p>
      <section class="shop-msg">
        <!-- 价格 -->
        <div class="price-box clearfloat">
          <div class="price-box ">
            <div class="price">
              <span class="label text-between">价格</span>
              <span class="cur-price numFontFamily"><span class="money-sign">￥</span>699.00</span>
              <span class="pre-price numFontFamily"><span class="money-sign">￥</span>866.00</span>
              <span class="cost-detail">查看收费明细</span>
            </div>
            <div class="xiao-liang">
              <span class="label">累计销售</span>
              <span class="value numFontFamily">6666</span>
            </div>
          </div>
          <!-- 优惠卷 -->
          <section class="coupons">
            <span class="label text-between">优惠卷</span>
            <ul class="coupons-list">
              <li class="coupons-item">
                5折优惠券
              </li>
              <li class="coupons-item">
                满100减20
              </li>
              <li class="coupons-more">
                <div>
                  <span>更多优惠券</span><i class="iconfont iconnav_ic_pointnormal"></i>
                  <ul class="coupons-ul">
                    <li class="coupons-li">
                      <div class="coupons-num"><span class="num numFontFamily">500</span>元</div>
                      <div class="coupons-content">
                        <p class="title one-line">满¥1000满¥1000满¥1000满¥1000满¥1000满¥1000-100优惠券</p>
                        <p class="desc one-line">限部分类目可用</p>
                      </div>
                      <div class="coupons-btn">领 取</div>
                    </li>
                    <li class="coupons-li">
                      <div class="coupons-num"><span class="num numFontFamily">500</span>元</div>
                      <div class="coupons-content">
                        <p class="title one-line">满¥1000满¥1000满¥1000满¥1000满¥1000满¥1000-100优惠券</p>
                        <p class="desc one-line">限部分类目可用</p>
                      </div>
                      <div class="coupons-btn">领 取</div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </section>
      </section>
      <section class="select-box">
        <!-- 注册区县 -->
        <section class="my-checkBox">
          <div class="label text-between">注册区县</div>
          <ul class="check-list">
            <li class="check-item hot">
              武侯区1
            </li>
            <li class="check-item">
              武侯区2
            </li>
            <li class="check-item">
              武侯区2
            </li>
            <li class="check-item">
              武侯区2
            </li>
          </ul>
        </section>
        <!-- 城市切换 -->
        <!-- <section class="my-checkBox">
          <div class="label text-between">城市切换</div>
          <ul class="check-list">
            <li class="area-box">
              <div class="area-box-valueBox">
                <span class="select-value">成都</span>
                <i class="iconfont iconxiajiantou1"></i>
              </div>
              <ul class="area-card">
                <li class="select-item">
                  <span>重庆</span>
                </li>
                <li class="select-item">
                  <span>长沙</span>
                </li>
                <li class="select-item">
                  <span>福建</span>
                </li>
              </ul>
            </li>
          </ul>
        </section> -->
        <!-- 地址情况 -->
        <section class="my-checkBox">
          <div class="label text-between">地址情况</div>
          <ul class="check-list">
            <li class="check-item hot">
              有注册地址
            </li>
            <li class="check-item disabled">
              无注册地址
            </li>
          </ul>
        </section>
        <!-- 缴资情况 -->
        <section class="my-checkBox">
          <div class="label text-between">缴资情况</div>
          <ul class="check-list">
            <li class="check-item hot">
              认缴
            </li>
            <li class="check-item">
              实缴
            </li>
          </ul>
        </section>
        <!-- 附加情况 -->
        <section class="my-checkBox">
          <div class="label text-between">附加情况</div>
          <ul class="check-list addition">
            <li class="addition-check-item">
              <div class="addition-valueBox">
                <span class="select-value">升级为三星级服务 ￥750/年</span>
                <i class="iconfont iconxiajiantou1"></i>
              </div>
              <ul class="addition-card">
                <li class="select-item">
                  <input type="radio" value="1"><span>升级为三星级服务 ￥750/年</span>
                </li>
                <li class="select-item">
                  <input type="radio" value="2"><span>升级为四星级服务 ￥1750/年</span>
                </li>
                <li class="select-item">
                  <input type="radio" value="3"><span>升级为五星级服务 ￥7850/年</span>
                </li>
              </ul>
            </li>
            <li class="addition-check-item">
              <div class="addition-valueBox">
                <span class="select-value">升级为六星级服务 ￥750/年</span>
                <i class="iconfont iconxiajiantou1"></i>
              </div>

              <ul class="addition-card">
                <li class="select-item">
                  <input type="radio" value="31"><span>升级为六星级服务 ￥750/年</span>
                </li>
                <li class="select-item">
                  <input type="radio" value="w2"><span>升级为七星级服务 ￥1750/年</span>
                </li>
                <li class="select-item">
                  <input type="radio" value="q3"><span>升级为八星级服务 ￥7850/年</span>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </section>
      <!-- 立即购买部分 -->
      <section class="pay-box">
        <div class="input-box clearfloat">
          <input class="my-input" type="number" placeholder="1" value="1" max="99" maxlength="2"
            onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
          <div class="operation">
            <div class="operation-item add">+</div>
            <div class="operation-item sub">-</div>
          </div>
        </div>
        <div class="pay-btn">立即购买</div>
        <div class="pay-btn addCar">加入购物车</div>
      </section>
      <!-- 服务标签 -->
      <ul class="serve-list">
        <li class="serve-item">
          极速退款
        </li>
        <li class="serve-item sign">
          ·
        </li>
        <li class="serve-item">
          流程透明
        </li>
        <li class="serve-item sign">
          ·
        </li>
        <li class="serve-item">
          专属服务顾问
        </li>
      </ul>
    </div>
  </section>
  <!-- 商品描述部分 -->
  <div class="layui-tab layui-tab-brief my-tab" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
      <li class="layui-this">商品描述</li>
      <!-- <li>商品评论</li> -->
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <!-- 后台配置广告 -->
        <div class="ads">
          <img src="" alt="">
        </div>
        <!-- 标签属性 -->
        <ul class="tab-attr">
          <li class="attr-box">
            <div class="attr-name one-line">标签属性1</div>
            <div class="attr-val one-line">属性内容属性内容属性内容属性内容属性内容属性</div>
          </li>
          <li class="attr-box">
            <div class="attr-name one-line">标签属性1</div>
            <div class="attr-val one-line">属性内容属性内容属性内容属性内容属性内容属性</div>
          </li>
          <li class="attr-box">
            <div class="attr-name one-line">标签属性1</div>
            <div class="attr-val one-line">属性内容属性内容属性内容属性内容属性内容属性</div>
          </li>
          <li class="attr-box">
            <div class="attr-name one-line">标签属性1</div>
            <div class="attr-val one-line">属性内容属性内容属性内容属性内容属性内容属性</div>
          </li>
          <li class="attr-box">
            <div class="attr-name one-line">标签属性1</div>
            <div class="attr-val one-line">属性内容属性内容属性内容属性内容属性内容属性</div>
          </li>
        </ul>
        <!-- 广告位 -->
        <div class="ads two">
          <img src="" alt="">
        </div>
      </div>
      <!-- <div class="layui-tab-item">内容22</div>  -->
    </div>
    <!-- 服务说明及收费标准 -->
    <section class="serve-notice notice">
      <p>服务说明及收费标准</p>
      <table class="layui-table">
        <colgroup>
          <col width="224">
          <col>
          <col width='224'>
        </colgroup>
        <thead>
          <tr>
            <th>序号</th>
            <th>服务子项</th>
            <th>费用</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>人生就像是一场修行</td>
            <td>200<span>元</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>其他服务</td>
            <td>300<span>元</span></td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- 服务办理流程及周期 -->
    <section class="serve-notice flow">
      <p>服务办理流程及周期</p>
      <table class="layui-table">
        <colgroup>
          <col width="224">
          <col width="264">
          <col>
          <col width='224'>
        </colgroup>
        <thead>
          <tr>
            <th>流程</th>
            <th>流程内容</th>
            <th>流程说明</th>
            <th>办理周期</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>核名</td>
            <td>我司提交线上网上核名及线下核名<span>(我司提交线上网上核名及线下核名)</span></td>
            <td>2个工作日</td>
          </tr>
          <tr>
            <td>1</td>
            <td>核名</td>
            <td>我司提交线上网上核名及线下核名</td>
            <td>2个工作日</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- 需要提供的材料 -->
    <section class="serve-notice flow">
      <p>需要提供的材料</p>
      <table class="layui-table">
        <colgroup>
          <col width="100">
          <col width="122">
          <col>
          <col width='224'>
          <col width='224'>
        </colgroup>
        <thead>
          <tr>
            <th>序号</th>
            <th>备注</th>
            <th>所需材料名称</th>
            <th>材料用途</th>
            <th>规格与属性</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>无地址</td>
            <td>
              <div class="img-td">
                <img
                  src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=414e5917514e9258a23481ecac83d1d1/8694a4c27d1ed21b46999f96aa6eddc451da3f74.jpg"
                  alt="">
                <div>我司提交线上网上核名2222及线下核名<span>(我司提交线上网上核名及线下核名)</span></div>
              </div>
            </td>
            <td>2个工作日</td>
            <td>3份</td>
          </tr>
          <tr>
            <td>1</td>
            <td>有地址</td>
            <td>
              <div class="img-td">
                <img
                  src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=414e5917514e9258a23481ecac83d1d1/8694a4c27d1ed21b46999f96aa6eddc451da3f74.jpg"
                  alt="">
                <div>我司提交线上网上核名2222及线下核名<span>(我司提交线上网上核名及线下核名)</span></div>
              </div>
            </td>
            <td>1个工作日</td>
            <td>3份</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- 交付内容 -->
    <section class="serve-notice flow">
      <p>交付内容</p>
      <table class="layui-table">
        <colgroup>
          <col width="224">
          <col>
          <col width='345'>
        </colgroup>
        <thead>
          <tr>
            <th>序号</th>
            <th>名称</th>
            <th>规格与数量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <div class="img-td">
                <img
                  src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=414e5917514e9258a23481ecac83d1d1/8694a4c27d1ed21b46999f96aa6eddc451da3f74.jpg"
                  alt="">
                  <div>身份证</div>
              </div>
            </td>
            <td>3份</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="img-td">
              <div class="img-td">
                <img
                  src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=414e5917514e9258a23481ecac83d1d1/8694a4c27d1ed21b46999f96aa6eddc451da3f74.jpg"
                  alt="">
                <div>身份证</div>
              </div>
            </td>
            <td>3份</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <!-- reason选择我们的理由 -->
  <section class="reason">
    <p>选择我们的理由</p>
    <img src="" alt="" class="reason-img">
  </section>
  <!-- 无忧服务保障 -->
  <section class="footer-section">
    <section>
      <p>无忧服务保障</p>
      <img src="" alt="" class="guarantee-img">
    </section>
    <section>
      <p>集团风采</p>
      <img src="" alt="" class="team-img">
      <img src="" alt="" class="team-img2">
    </section>
    <section class="last-box"></section>
  </section>
  <script src="../layui/layui.all.js" charset="utf-8"></script>
  <script src="../js/lib/jQuery.js"></script>
  <script src="./../js/detail.js"></script>
</body>

</html>